.containerBackground {
  background-color: #ffe1e1;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Muli', sans-serif;
  color: #32383d;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Muli', sans-serif;
  color: #23293B;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.headerBoxWide {
  background-color: #ffe1e1;
}
.headerBoxWide #navContainer {
  padding: 2% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerBoxWide #navContainer h1 {
  width: auto;
}
.headerBoxWide #navContainer nav {
  width: auto;
}
@media (max-width: 500px) {
  .headerBoxWide #navContainer nav {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: stretch;
  }
}
.headerBoxWide #navContainer a {
  font-size: 2rem;
  text-decoration: none;
  margin: 0 0.5rem;
  color: #23293B;
}
@media (max-width: 500px) {
  .headerBoxWide #navContainer a {
    border: 1px solid #23293B;
    margin: 3%;
    padding: 3%;
  }
}
footer {
  color: #23293B;
  background: #ffe1e1;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.backgroundImgTopSection {
  background-image: url("../img/polina-rytova-1dGMs4hhcVA-unsplash.jpg");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}
#home #topsection h3 {
  margin-top: 2%;
  padding: 2%;
}
@media (max-width: 500px) {
  #home #topsection h3 {
    margin: 0 2%;
  }
}
#home #topsection p {
  padding: 2%;
  width: 90%;
}
@media (max-width: 500px) {
  #home #topsection p {
    margin: 0 2%;
  }
}
#home #teamMembers {
  padding: 2% 10%;
  margin-top: 2%;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
#home .teammateCont {
  display: flex;
  justify-content: center;
  border: 2px solid #F08080;
  border-radius: 20px;
  padding: 4%;
  margin: 2rem 0;
}
@media (max-width: 500px) {
  #home .teammateCont {
    flex-direction: column-reverse;
    align-items: center;
  }
}
#home .teammateCont .teamImg {
  width: 40%;
}
@media (max-width: 500px) {
  #home .teammateCont .teamImg {
    width: 100%;
  }
}
#home .teammateCont .teamImg img {
  height: 200px;
  border-radius: 20px;
}
#home .teammateCont .teamText {
  width: 60%;
}
@media (max-width: 500px) {
  #home .teammateCont .teamText {
    width: 100%;
    margin-top: 5%;
  }
}
#home .teammateCont .teamText h3 {
  margin-bottom: 5%;
  width: 90%;
}
#home .teammateCont .teamText p {
  margin-bottom: 5%;
  width: 90%;
  text-decoration: none;
}
#home #lowsection h3 {
  margin-top: 2%;
  padding: 2%;
}
@media (max-width: 500px) {
  #home #lowsection h3 {
    margin: 0 2%;
  }
}
#home #lowsection h4 {
  padding-left: 2%;
}
@media (max-width: 500px) {
  #home #lowsection h4 {
    margin: 0 2%;
  }
}
#home #lowsection p {
  padding: 2%;
  width: 90%;
}
@media (max-width: 500px) {
  #home #lowsection p {
    margin: 0 2%;
  }
}
#home #join {
  margin-top: 2%;
  border-top: 1px solid #dee2e6;
  padding: 8%;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  #home #join {
    flex-direction: column-reverse;
    align-items: center;
  }
}
#home #join .join-text {
  width: 50%;
}
@media (max-width: 500px) {
  #home #join .join-text {
    width: 100%;
    margin-top: 5%;
  }
}
#home #join .join-text h3 {
  margin-bottom: 5%;
  width: 90%;
}
#home #join .join-text p {
  margin-bottom: 5%;
  width: 90%;
}
#home #join .join-text .btn {
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFA07A;
  background-color: #8B0000;
  width: 50%;
  height: 4.5rem;
  font-size: 2.5rem;
  border-radius: 5px;
}
#home #join .join-text .btn a:link,
#home #join .join-text .btn a:visited {
  text-decoration: none;
  color: #FFA07A;
}
#home #join .join-text .btn a:link:hover,
#home #join .join-text .btn a:visited:hover {
  color: #8B0000;
}
#home #join .join-text .btn:hover {
  background-color: #FFA07A;
  color: #8B0000;
  border: 1px solid #23293B;
}
@media (max-width: 500px) {
  #home #join .join-text .btn {
    width: 100%;
    height: 4.8rem;
    font-size: 2.8rem;
  }
}
#home #join .join-img {
  width: 50%;
}
@media (max-width: 500px) {
  #home #join .join-img {
    width: 100%;
  }
}
#home #join .join-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
