// Navigation code here

.headerBoxWide {
    .containerBackground(); //basic mixin

    #navContainer{
        padding: 2% 0;
        .custom-layout(space-between, center); // fancier mixin (@justify, @align) "display: flex and justify-content and "align-items" 
        
    
        h1 {
            width: auto;
        }
        nav {
            width: auto;


        @media @phone {
            display: flex;
            flex-direction: column;
            width: 30%;
            align-items: stretch;

          }
        
        }

        a {
        font-size: 2rem;
        text-decoration: none;
        margin: 0 0.5rem;
        color: @nav-font;
        @media @phone {
            border: 1px solid @header-font-color;
            margin: 3%;
            padding: 3%;
            
          }

        }    
    }
    


}